{% extends 'base.html' %}
{% block title %}profile{% endblock %}
{% block body %}
<h1>profile</h1>
<table>
<tr>
    <th>user :{{ profile.user.username}}</th>
</tr>
<tr>
    <th>name :{{ profile.user.first_name}}</th>
</tr>
<tr>
    <th>last_name :{{ profile.user.last_name}}</th>
</tr>
<tr>
    <th>email :{{ profile.user.email}}</th>
</tr>
<tr>
    <th>address :{{ profile.user.address}}</th>
</tr>
<tr>
    <th>phone:{{ profile.phone }}</th>
</tr>
</table>
    <a href="{% url 'accounts:update' %}">update</a>
    <a href="{% url 'accounts:change' %}">change </a>
{% endblock %}